# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* Data Science Tools
    * Popular languages in Data Science
    * Commonly libraries in Data Science
* Arithmetic expressions
    * Multiply
    * Add
    * Convert

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. matplotlib
3. ggplot

|Data Science Tools.|
---------------------
|RStudio|
|Apache Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expression in Python

In [8]:
# This is a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Omar Uriel Valdez Ruiz